@using TWRDataAccess.Entities
@model TwoWordReviews.Models.MainModel

@*@{
    ViewBag.Title = "AddReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h2>AddReview</h2>
<div class="panel">
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>@Html.DropDownListFor(x => x.SelectedType, Model.SubjectTypes.Select(y => new SelectListItem() { Text = y, Value = y }), "What did you review?")</div>        
    <div>
        <div><span>What are you reviewing?</span>
        @Html.TextBoxFor(x => x.Subject)</div>
    </div>
    <div>
        <div>
            <span>Two word review</span>
            @Html.TextBoxFor(x => x.TwoWordReview)
        </div>
    </div>
    <input type="submit">
}
<hr />
<div>Subject ===== TwoWordReview</div>
@foreach (Review r in Model.AllReviews)
{
    <div>@r.Subject.Name ===== @r.TwoWordReview</div>
}
</div>